#footer {
    background-color: #525252;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 5.5em;
    width: 100%;
    bottom: 0;
  }
  
  #footer-logo {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    align-items: center;
  }

  figure {
    margin: -1em;
    padding-right: 1em;
  }
  
  #footer-logo img {
    height: 5em;
    object-fit: contain;
  }
  
  #footer-text {
    color: #FCF7F1;
  }
  