.images {
  width: 30em;
  height: 20em;
  object-fit: cover;
  border-radius: 0.5em;
}

.resource-items {
  min-height: 53vh;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #5fa8d2;
}

a:hover {
  text-decoration: none;
  color: #FF9999;
}

.resource {  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resource h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1em;
  padding: 0;
}